@page "/Travel/OutreachQueue"

@model Queues.OutreachModel
@{
    ViewData["CurrentlySelectedLinkTitle"] = "Outreach";
}

@section PageHeader {
    <div class="d-flex flex-row justify-content-between">
        <div class="">
            <h2 class="page-head-title">Outreach Queue</h2>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb page-head-nav">
                    <li class="breadcrumb-item">
                        <a asp-area="Travel" asp-page="/Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Outreach</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
}