<ul class="nav navbar-nav float-right be-user-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="img/demo/avatar.png" alt="Avatar"><span class="user-name">Jane Doe</span></a>
        <div class="dropdown-menu" role="menu">
            <div class="user-info">
                <div class="user-name">Jane Doe</div>
                <div class="user-position online">Available</div>
            </div>
            <a class="dropdown-item" href="#"><span class="icon mdi mdi-face"></span>Account</a>
            <a class="dropdown-item" href="#"><span class="icon mdi mdi-settings"></span>Settings</a>
        </div>
    </li>
</ul>
